@{
    ViewBag.Title = "AboutMe";
}
<div id="hr">
<img src="Images/Duane.jpg"/>
    
        </div>
<h3>Education(College and above, Graduate Year, degree, major and School)</h3>
<div class="Experience">
    <ul>
        <li>2014 MBA <b><em>Information Systems </em></b> California State University Long Beach</li>
        <li>2006 BA Business Administration <b><em>Marketing</em></b> California State University San Bernardino</li>
    </ul>

    <h3>Working Experience (Title, Company, and Years)</h3>

    <ol>
        <li>Social Media/Digital Sales Manager 102.3 KJLH-FM 2008 to Current Los Angeles, CA </li>
        <li>Account Executive/Marketing Cosnultant 96.7 KCAL-FM Rocks 2007-2008 Redlands, CA </li>
    </ol>

    <h3>Expectation for the Course(Anything You want Me to Cover in Class)</h3>
    <li>I am interested in learning Javascript, J Query and more. This is very challenging and helps me in problem solving</li>
</div>
